apiVersion: v1
kind: Pod
metadata:
  name: load-generator
spec:
  containers:
    - name: busybox
      image: busybox
      command:
        [
          "/bin/sh",
          "-c",
          "while true; do for i in $(seq 1 50); do wget -q -O- http://iot-sensor-api-service.default.svc.cluster.local & done; sleep 0.5; done",
        ]
